body {
    margin:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/d9/0b/d5/d90bd5cf4576e212464593f819f804d0.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width : 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.taskArea {
    border: 1px solid gray;
}
.taskTabs{
    display: flex;
    border-bottom : 1px solid gray;
    position:relative;
}
.taskTabs div{  /*요소를 가로정렬 하고 싶으면 부모 요소에 flex 주기 */
    padding: 1em;
}
.taskTabs div:hover {
    cursor: pointer;
}

#underLine {
    height: 4px;
    background-color: black;
    position: absolute;
    width: 60px;
    left: 0;
    top: 52px;
    padding:0px;

}
.task{
    display: flex;
    justify-content: space-between;
    padding :1em;
}

.taskDone {
    text-decoration: line-through;   
}


.task button {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    cursor: pointer;
    padding: 0; /* 내부 간격 제거 */
    font-size: 1rem; /* 아이콘 크기 조정 */
}
